@media  screen and (min-width : 1750px) and (max-width : 11920px)
  #button-up
    display: none
@media  screen and (min-width : 1600px) and (max-width : 1749px)
  #button-up
    display: none
  .menu__checkbox
    display: none
  .menu 
    flex-basis: 23%
  .toorder
    &__social
      margin-right: 8rem
      margin-top: 8.6rem
  #map
    width: 1000px
@media  screen and (min-width : 1439px) and (max-width : 1599px)
  #button-up
    display: none
  .menu__checkbox
    display: none
  .menu 
    flex-basis: 26%
  .toorder
    &__social
      margin-right: 3rem
      margin-top: 8rem
    &__form
      margin-top: 1rem
  .tabs ul li 
    padding: 10px 73px
  #map
    width: 900px
@media  screen and (min-width : 1360px) and (max-width : 1438px)
  #button-up
    display: none
  .menu__checkbox
    display: none
  .menu
    flex-basis: 26%
  .toorder
    &__social
      margin-right: 2rem
      margin-top: 7.8rem
    &__form
      margin-top: 1rem
  .tabs ul li 
    padding: 10px 64px
  .nav a 
    padding: 20px 10px
  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .toorder
    &__info 
      font-size: 35px
  #map
    width: 800px
@media  screen and (min-width : 1200px) and (max-width : 1359px)
  #button-up
    display: none
  .menu__checkbox
    display: none
  .menu
    flex-basis: 28%
  .toorder
    &__social
      margin-right: 0.5rem
      margin-top: 8rem
    &__form
      margin-top: 1rem
  .tabs ul li 
    padding: 10px 45px
  .nav a 
    padding: 20px 0px
  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .toorder
    &__info 
      font-size: 30px
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
  .toorder
    &__social
      margin-right: 0.5rem
      margin-top: 4rem
    &-info a 
      margin-top: 2rem
      font-size: 15px
  #map
    width: 700px
@media  screen and (min-width : 1024px) and (max-width : 1199px)
  #button-up
    display: none
  .menu__checkbox
    display: none
  .menu
    flex-basis: 25%
    &__logo
      &-img 
        max-width: 130px
        max-height: 130px
  .toorder
    &__social
      margin-right: 0.5rem
      margin-top: 7rem
    &__form
      margin-top: 1rem
  .tabs ul li 
    padding: 10px 28px
  .nav a 
    padding: 27px 0px
  .nav__item
    font-size: 1rem
  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .toorder
    &__info 
      font-size: 25px
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
  .toorder
    &__social
      margin-right: 2.5rem
      margin-top: 4rem
      &-title
        display: none
      &-text
        display: none
  #map
    width: 600px
@media  screen and (min-width : 992px) and (max-width : 1023px)
  #button-up
    display: none
  .menu
    flex-basis: 25%
    &__logo
      &-img 
        max-width: 130px
        max-height: 130px
  .toorder
    &__social
      margin-right: 0.5rem
      margin-top: 7rem
    &__form
      margin-top: 1rem
  .tabs ul li 
    padding: 10px 25px
  .nav a 
    padding: 27px 0px
  .nav__item
    font-size: 1rem
  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .toorder
    &__info 
      font-size: 25px
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
  .toorder
    &__social
      margin-right: 2.5rem
      margin-top: 4rem
      &-title
        display: none
      &-text
        display: none
  .social
    &-img1 
      width: 25px
      height: 25px
  .social
    &-img2 
      width: 28px
      height: 28px
  .social
    &-img3 
      width: 28px
      height: 28px
  .social
    &-img 
      width: 30px
      height: 30px
  #map
    width: 580px
    img
      width: 250px
@media  screen and (min-width : 768px) and (max-width : 991px)
  .burger
    display: block
    position: absolute
    width: 40px
    height: 20px
    right: 35px
    top: 60px
    &:after, &:before
      content: ' '
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      transition: all 0.3s ease 0s
    &-our
      &:after, &:before
        background-color: #000
    &:after
      top: 0px
    &:before
      bottom: 0px
    span
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      top: 9px
      transition: all 0.3s ease 0s
    &-our
      span
        background-color: #000
  .active
    &:before
      transform: rotate(45deg)
      top: 9px
    &:after 
      transform: rotate(-45deg)  
      top: 9px  
    span
      transform: scale(0) 
  .nav
    background: url(../img/fone.jpg) no-repeat center/cover
    position: fixed
    transition: all 2.3s ease 0s
    width: 100%
    top: -350%
    left: 0
    height: 500px
    display: flex
    justify-content: center
    overflow: auto
    ul
      background: rgba(192, 192, 192, 0.4)
      width: 22rem  
      height: 25rem
      border-radius: 5px
      margin-top: 2rem
    a
      padding: 15px
      font-weight: 700
      &:hover
        &::before
          background: none
  .nav.active
    top: 0
    transition: all 1.3s ease 0s
  .main
    &__first
      display: block
      margin: 0
      margin-top: 1rem
      margin-bottom: 1rem
  .menu
    margin-right: 0
    margin-bottom: 2rem
    height: 110px
    display: flex
    align-items: center
    width: 100%
    
    &__logo
      display: contents
      align-items: center
      font-size: 25px
      &-img
        max-width: 100px
        margin: 1rem
  .swiper-container 
    flex-basis: 100%
    min-height: 75vh
  .toorder
    &__social
      margin-right: 0.5rem
      margin-top: 7rem
      padding: 0
    &__form
      margin-top: 1rem
    &__info 
      font-size: 25px
  .tabs ul li 
    padding: 10px 25px

  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem    
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
  .social
    margin: auto
    a
      padding-right: 10px
    &-img1 
      width: 25px
      height: 25px
    &-img2 
      width: 28px
      height: 28px
    &-img3 
      width: 28px
      height: 28px
    &-img 
      width: 25px
      height: 25px
  #map
    width: 700px
    img
      width: 250px
@media  screen and (min-width : 600px) and (max-width : 767px)
  .burger
    display: block
    position: absolute
    width: 40px
    height: 20px
    right: 35px
    top: 65px
    &:after, &:before
      content: ' '
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      transition: all 0.3s ease 0s
    &-our
      &:after, &:before
        background-color: #000
    &:after
      top: 0px
    &:before
      bottom: 0px
    span
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      top: 9px
      transition: all 0.3s ease 0s
    &-our
      span
        background-color: #000
  .active
    &:before
      transform: rotate(45deg)
      top: 9px
    &:after 
      transform: rotate(-45deg)  
      top: 9px  
    span
      transform: scale(0) 
  .nav
    background: url(../img/fone.jpg) no-repeat center/cover
    position: absolute
    transition: all 2.3s ease 0s
    width: 100%
    top: 0
    top: -350%
    left: 0
    height: 600px
    display: flex
    justify-content: center
    ul
      background: rgba(192, 192, 192, 0.4)
      width: 22rem  
      height: 25rem
      border-radius: 5px
      margin-top: 2rem

    a
      padding: 15px
      font-weight: 700
      &:hover
        &::before
          background: none
  .nav.active
    top: 0
    transition: all 1.3s ease 0s

  .main
    &__first
      display: block
      margin: 0
      margin-top: 1rem
      margin-bottom: 1rem
  .menu
    margin-right: 0
    margin-bottom: 2rem
    height: 110px
    display: flex
    align-items: center
    width: 100%
    &__logo
      display: contents
      align-items: center
      font-size: 19px
      &-img
        max-width: 90px
        margin: 1rem
  .swiper-container 
    flex-basis: 100%
    min-height: 75vh
  .tabs ul li 
    padding: 10px 15px

  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
    &__btn
      font-size: 23px
    &__text
      font-size: 20px
  .toorder
    &__social
      margin-right: 6.5rem
      margin-top: 5.8rem
      &-title
        display: none
      &-text
        display: none
    &__form 
      min-width: 23rem
      margin-top: 1rem
    &__btn 
      font-size: 20px
    &__info 
      font-size: 25px

  .social
    margin-left: 4rem
    margin-top: 0
    a
      padding-right: 10px
    &-img1 
      width: 25px
      height: 25px
    &-img2 
      width: 28px
      height: 28px
    &-img3 
      width: 28px
      height: 28px
    &-img 
      width: 25px
      height: 25px
  .ordercard
    &__text 
      line-height: 2.5rem
  #map
    width: 550px
    img
      width: 200px
  .card
    &__animal
      max-width: 15rem
      &-btn
        padding: 1rem 2rem
    &__backinfo
      &-images  
        max-width: 15rem
@media  screen and (min-width : 480px) and (max-width : 599px)
  .burger
    display: block
    position: absolute
    width: 40px
    height: 20px
    right: 35px
    top: 60px
    margin: 0
    &:after, &:before
      content: ' '
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      transition: all 0.3s ease 0s
    &-our
      &:after, &:before
        background-color: #000
    &:after
      top: 0px
    &:before
      bottom: 0px
    span
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      top: 9px
      transition: all 0.3s ease 0s
    &-our
      span
        background-color: #000
  .active
    &:before
      transform: rotate(45deg)
      top: 9px
    &:after 
      transform: rotate(-45deg)  
      top: 9px  
    span
      transform: scale(0) 
  .nav
    background: url(../img/fone.jpg) no-repeat center/cover
    position: absolute
    transition: all 2.3s ease 0s
    width: 100%
    top: 0
    top: -350%
    left: 0
    height: 700px
    display: flex
    justify-content: center
    ul
      position: relative
      background: rgba(192, 192, 192, 0.4)
      width: 22rem  
      height: 23rem
      border-radius: 5px
      margin-top: 2rem
      padding: 2rem
    a
      padding: 10px
      font-weight: 700
      &:hover
        &::before
          background: none
  .nav.active
    top: 0
    transition: all 1.3s ease 0s

  .main
    &__first
      display: block
      margin: 0
      margin-top: 1rem
      margin-bottom: 1rem
  .menu
    margin-right: 0
    margin-bottom: 2rem
    height: 110px
    display: flex
    align-items: center
    width: 100%
    &__logo
      display: contents
      align-items: center
      font-size: 14px
      &-img
        max-width: 60px
        margin: 1rem
  .swiper-container 
    flex-basis: 100%
    min-height: 75vh

    
  .tabs ul li 
    padding: 10px 1px

  .contacts
    &__images 
      max-width: 30rem
      min-height: 20rem
  .toorder
    &__info 
      font-size: 25px
  .first
    flex-wrap: wrap
    &-img 
      max-width: 250px
      max-height: 250px
    &__title
      margin-top: 1rem
    &__btn
      font-size: 22px
    &__text
      font-size: 20px
  .toorder
    &__social
      display: none
    &__form 
      min-width: 23rem
    &__btn 
      font-size: 20px
    &__form
      margin-top: 0rem
  .social
    margin-left: 3rem
    margin-top: 0
    a
      padding-right: 10px
    &-img1 
      width: 25px
      height: 25px
    &-img2 
      width: 28px
      height: 28px
    &-img3 
      width: 28px
      height: 28px
    &-img 
      width: 25px
      height: 25px
  .ordercard
    &__text 
      line-height: 2.5rem
  #map
    width: 420px
    img
      width: 200px
  .card
    &__animal
      max-width: 12rem
      &-btn
        padding: 0.35rem 0.5rem
    &__backinfo
      &-images  
        max-width: 12rem
@media  screen and (min-width : 412px) and (max-width : 479px)
  .burger
    display: block
    position: absolute
    width: 40px
    height: 20px
    right: 35px
    top: 60px

    &:after, &:before
      content: ' '
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      transition: all 0.3s ease 0s
    &-our
      &:after, &:before
        background-color: #000
    &:after
      top: 0px
    &:before
      bottom: 0px
    span
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      top: 9px
      transition: all 0.3s ease 0s
    &-our
      span
        background-color: #000
  .active
    &:before
      transform: rotate(45deg)
      top: 9px
    &:after 
      transform: rotate(-45deg)  
      top: 9px  
    span
      transform: scale(0) 
  .nav
    background: url(../img/fone.jpg) no-repeat center/cover
    position: absolute
    transition: all 2.3s ease 0s
    width: 100%
    top: 0
    top: -350%
    left: 0
    height: 700px
    display: flex
    justify-content: center
    ul
      background: rgba(192, 192, 192, 0.4)
      width: 22rem  
      height: 25rem
      border-radius: 5px
      margin-top: 2rem

    a
      padding: 15px
      font-weight: 700
      &:hover
        &::before
          background: none
  .nav.active
    top: 0
    transition: all 1.3s ease 0s

  .main
    &__first
      display: block
      margin: 0
      margin-top: 1rem
      margin-bottom: 1rem
  .menu
    margin-right: 0
    margin-bottom: 2rem
    min-height: 110px
    display: flex
    align-items: center
    height: 0
    padding: 1rem
    &__logo
      display: contents
      align-items: center
      font-size: 20px
      background: #df2525
      &-img
        display: none
        max-width: 60px
        margin: 1rem


  .swiper-container 
    flex-basis: 100%
    min-height: 75vh
  .tabs ul li 
    padding: 10px 10px

  .contacts
    &__images 
      max-width: 25rem
      min-height: 17rem
  .first
    flex-wrap: wrap
    &-img 
      max-width: 200px
      max-height: 200px
    &__title
      margin-top: 1rem
      font-size: 30px
      padding: 1rem 2rem
    &__btn
      font-size: 22px
      padding: 1rem 3rem
    &__text
      font-size: 20px
  .toorder
    &__social
      display: none
    &__form 
      min-width: 22rem
    &__btn 
      font-size: 18px
      padding: 0.85rem 3rem
    &__form
      margin-top: 0rem
    &__info 
      font-size: 20px
      line-height: 2rem
  .social
    margin-left: 2rem
    margin-top: 0
    a
      padding-right: 10px
    &-img1 
      width: 20px
      height: 20px
    &-img2 
      width: 23px
      height: 23px
    &-img3 
      width: 23px
      height: 23px
    &-img 
      width: 20px
      height: 20px
  .ordercard
    &__text 
      line-height: 2.5rem
  .card
    &__animal
      &-btn 
        padding: 1rem 2rem
    &__backinfo
      &-images 
        max-width: 16rem
        max-height: 14rem
  #map
    width: 350px
    img
      width: 200px
@media  screen and (min-width : 320px) and (max-width : 411px)
  .burger
    display: block
    position: absolute
    width: 40px
    height: 20px
    right: 35px
    top: 60px

    &:after, &:before
      content: ' '
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      transition: all 0.3s ease 0s
    &-our
      &:after, &:before
        background-color: #000
    &:after
      top: 0px
    &:before
      bottom: 0px
    span
      background-color: #000
      position: absolute
      width: 100%
      height: 3px
      right: 0
      top: 9px
      transition: all 0.3s ease 0s
    &-our
      span
        background-color: #000
  .active
    &:before
      transform: rotate(45deg)
      top: 9px
    &:after 
      transform: rotate(-45deg)  
      top: 9px  
    span
      transform: scale(0) 
  .nav
    background: url(../img/fone.jpg) no-repeat center/cover
    position: absolute
    transition: all 2.3s ease 0s
    width: 100%
    top: 0
    top: -350%
    left: 0
    height: 500px
    display: flex
    justify-content: center
    ul
      background: rgba(192, 192, 192, 0.4)
      width: 18rem  
      height: 27rem
      border-radius: 5px
      margin-top: 2rem
    a
      padding: 15px
      font-weight: 700
      &:hover
        &::before
          background: none
  .nav.active
    top: 0
    transition: all 1.3s ease 0s

  .main
    &__first
      display: block
      margin: 0
      margin-top: 1rem
      margin-bottom: 1rem
  .menu
    margin-right: 0
    margin-bottom: 2rem
    min-height: 110px
    display: flex
    align-items: center
    height: 0
    padding: 1rem
    &__logo
      display: contents
      align-items: center
      font-size: 15px
      background: #df2525
      &-img
        display: none
        max-width: 60px
        margin: 1rem


  .swiper-container 
    flex-basis: 100%
    min-height: 75vh
  .tabs ul li 
    padding: 10px 10px

  .contacts
    &__images 
      max-width: 20rem
      min-height: 14rem
  .first
    flex-wrap: wrap
    &-img 
      max-width: 150px
      max-height: 150px
    &__title
      margin-top: 1rem
      font-size: 30px
      padding: 1rem 2rem
    &__btn
      font-size: 19px
      padding: 1rem 3rem
    &__text
      font-size: 20px
      padding: 0px
      padding-top: 2rem
      padding-bottom: 2rem
  .toorder
    &__social
      display: none
    &__form 
      min-width: 18rem
      height: 33rem
      margin-top: 0rem
    &__btn 
      font-size: 18px
      padding: 0.85rem 3rem
    &__info 
      font-size: 20px
      line-height: 2rem
    &__input 
      font-size: 11px
  .social
    margin-left: 1rem
    margin-top: 0
    a
      padding-right: 10px
    &-img1 
      width: 15px
      height: 15px
    &-img2 
      width: 18px
      height: 18px
    &-img3 
      width: 18px
      height: 18px
    &-img 
      width: 15px
      height: 15px
  .ordercard
    padding: 0
    &__text 
      line-height: 2.5rem
      font-size: 20px
      padding: 1rem
    &__title 
      font-size: 30px
  .card
    &__animal
      &-btn 
        padding: 0.5rem 1.3rem
        font-size: 22px
    &__backinfo
      &-images 
        max-width: 11rem
        max-height: 14rem
      &-price 
        font-size: 25px
  .about
    &__text 
      line-height: 2rem
  .review
    &__title 
      font-size: 30px
  .work
    &__title 
      font-size: 30px
  .about
    &__title 
      font-size: 30px
  #map 
    margin: 1rem
 
  .ymaps-2-1-76-map
    width: 208px
    height: 550px
  .modalSend
    width: 18rem

  #map
    width: 280px
    img
      width: 150px

@media only screen and (max-width : 991px) 
  .animated 
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important
