.contacts
  display: block
  padding: 2rem
  &__main
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

  &__title
    font-size: 40px
    text-decoration: underline
    font-weight: 700
    font-family: 'Futura Demi', cursive
    margin: 0
  &__text
    display: block
    text-align: left
    margin-top: 1rem
    line-height: 2rem
    &-title
      font-size: 30px
    &-main
      font-size: 30px

  &__images
    margin-top: 1rem
    max-width: 33rem
    min-height: 23rem
