.first
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  padding: 2rem
  &-img
    max-width: 300px
    max-height: 300px
  &__title
    font-size: 30px
    padding: 2rem 3rem
    border-radius: 10px
    background: rgba(#ff5a3c, 0.7)
    text-transform: uppercase
    max-width: 20rem
    margin: auto
  &__text
    font-size: 30px
    padding: 2rem
    line-height: 2.5rem
    text-transform: uppercase


  &__info
    display: flex
    flex-direction: column
    max-width: 50rem
  &__btn    
    font-size: 17px
    margin: auto
    max-width: 20rem
